/* @import url('https://fonts.googleapis.com/css?family=Poiret+One'); */
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

.main-container{
  height: 100%;
}

.ui.grid {
  min-height: 100%;
}

 #loading-wine{
   max-height: 15em;
   margin: auto;
}

.icon-wine{
  max-height: 3.5em;
  margin-bottom: -6%;
}

#title{
  text-align: left;
  margin-left: 1em;
  margin-top: 10%;
  font-family: oswald, sans-serif;
}

.light1{
  font-size: 4em;
  font-weight:200;
  line-height: 1.25em;
}

.reg2 {
  font-size: 5em;
  font-weight:400;
  line-height: 1.1em;
}

.bold3 {
  font-size: 7em;
  font-weight:700;
  line-height: 1em;
}

#title-description{
  font-family: aktiv grotesk, sans-serif;
  margin-top: 10%;
  font-size: 1.3em;
  text-align: center;
}

div.ui.six.wide.column{
  margin-top: 20%;
  margin-left: -9%;
}

.label-text{
  font-family: aktiv grotesk, sans-serif;
  margin-top: -15%;
  margin-bottom: -50%;
  text-align: center;
}

.down-arrow{
  max-height: 3em;
  /* margin-top: ; */
}

.ui.grid>.row>.stretched.column>*, .ui.grid>.stretched.column:not(.row)>*, .ui.grid>.stretched.row>.column>*, .ui.stretched.grid>.column>*, .ui.stretched.grid>.row>.column>* {
  flex-grow: 0.45;
}

.heading{
  text-align: center;
  padding-top: 1em;
  padding-right: 1em;
  font-family: oswald, sans-serif;
  font-weight: 300;
  font-size: 5em;
}

div.ui.large.buttons{
  margin-top: 100px;
  margin-bottom: 300px;
}

.reg3{
  font-size: 2em;
  font-weight:400;
  line-height: 1.1em;
}

button.ui.button{
  font-family: oswald, sans-serif;;
}

#gender-drink-icon {
  max-height: 50px;
  position: absolute;
  top: 76%;
  right: 48%;
}

#ui-input {
  position: absolute;
  top: 68%;
  right: 41%;
}

.heading2{
  text-align: center;
  padding-top: 0.5em;
  font-family: oswald, sans-serif;
  font-size: 8em;
  font-weight: 400;
}

#marg-icon{
  position: absolute;
  top: 30%;
  right: 48%;
  max-height: 50px;
}
